In [1]:
import pandas as pd
from explore_enron_data import enron_data as ed

In [2]:
enron = pd.DataFrame(ed).transpose()
enron.reset_index(inplace=True)
enron.rename(columns={'index': 'name'}, inplace=True)

In [11]:
enron[enron['poi'] == True][['name', 'total_payments']]

                     name total_payments
7        BELDEN TIMOTHY N        5501630
15     BOWEN JR RAYMOND M        2669589
20   CALGER CHRISTOPHER F        1639297
22       CAUSEY RICHARD A        1868758
26         COLWELL WESLEY        1490344
31       DELAINEY DAVID W        4747979
43        FASTOW ANDREW S        2424083
54        GLISAN JR BEN F        1272284
59         HANNON KEVIN P         288682
65           HIRKO JOSEPH          91093
76          KOENIG MARK E        1587421
77       KOPPER MICHAEL J        2652612
79          LAY KENNETH L      103559793
112        RICE KENNETH D         505050
113        RIEKER PAULA H        1099100
119            SHELBY REX        2003885
122    SKILLING JEFFREY K        8682716
144        YEAGER F SCOTT         360300

In [19]:
len(enron[enron['salary'] != 'NaN'])

95

In [23]:
len(enron[enron['email_address'] != 'NaN'])

111

In [25]:
for n in enron['name']:
    print n

ALLEN PHILLIP K
BADUM JAMES P
BANNANTINE JAMES M
BAXTER JOHN C
BAY FRANKLIN R
BAZELIDES PHILIP J
BECK SALLY W
BELDEN TIMOTHY N
BELFER ROBERT
BERBERIAN DAVID
BERGSIEKER RICHARD P
BHATNAGAR SANJAY
BIBI PHILIPPE A
BLACHMAN JEREMY M
BLAKE JR. NORMAN P
BOWEN JR RAYMOND M
BROWN MICHAEL
BUCHANAN HAROLD G
BUTTS ROBERT H
BUY RICHARD B
CALGER CHRISTOPHER F
CARTER REBECCA C
CAUSEY RICHARD A
CHAN RONNIE
CHRISTODOULOU DIOMEDES
CLINE KENNETH W
COLWELL WESLEY
CORDES WILLIAM R
COX DAVID
CUMBERLAND MICHAEL S
DEFFNER JOSEPH M
DELAINEY DAVID W
DERRICK JR. JAMES V
DETMERING TIMOTHY J
DIETRICH JANET R
DIMICHELE RICHARD G
DODSON KEITH
DONAHUE JR JEFFREY M
DUNCAN JOHN H
DURAN WILLIAM D
ECHOLS JOHN B
ELLIOTT STEVEN
FALLON JAMES B
FASTOW ANDREW S
FITZGERALD JAY L
FOWLER PEGGY
FOY JOE
FREVERT MARK A
FUGH JOHN L
GAHN ROBERT S
GARLAND C KEVIN
GATHMANN WILLIAM D
GIBBS DANA R
GILLIS JOHN
GLISAN JR BEN F
GOLD JOSEPH
GRAMM WENDY L
GRAY RODNEY
HAEDICKE MARK E
HANNON KEVIN P
HAUG DAVID L
HAYES ROBERT E
HAYSLETT RODERICK J
HERMANN ROBERT J
HICKERSON GARY J
HIRKO JOSEPH
HORTON STANLEY C
HUGHES JAMES A
HUMPHREY GENE E
IZZO LAWRENCE L
JACKSON CHARLENE R
JAEDICKE ROBERT
KAMINSKI WINCENTY J
KEAN STEVEN J
KISHKILL JOSEPH G
KITCHEN LOUISE
KOENIG MARK E
KOPPER MICHAEL J
LAVORATO JOHN J
LAY KENNETH L
LEFF DANIEL P
LEMAISTRE CHARLES
LEWIS RICHARD
LINDHOLM TOD A
LOCKHART EUGENE E
LOWRY CHARLES P
MARTIN AMANDA K
MCCARTY DANNY J
MCCLELLAN GEORGE
MCCONNELL MICHAEL S
MCDONALD REBECCA
MCMAHON JEFFREY
MENDELSOHN JOHN
METTS MARK
MEYER JEROME J
MEYER ROCKFORD G
MORAN MICHAEL P
MORDAUNT KRISTINA M
MULLER MARK S
MURRAY JULIA H
NOLES JAMES L
OLSON CINDY K
OVERDYKE JR JERE C
PAI LOU L
PEREIRA PAULO V. FERRAZ
PICKERING MARK R
PIPER GREGORY F
PIRO JIM
POWERS WILLIAM
PRENTICE JAMES
REDMOND BRIAN L
REYNOLDS LAWRENCE
RICE KENNETH D
RIEKER PAULA H
SAVAGE FRANK
SCRIMSHAW MATTHEW
SHANKMAN JEFFREY A
SHAPIRO RICHARD S
SHARP VICTORIA T
SHELBY REX
SHERRICK JEFFREY B
SHERRIFF JOHN R
SKILLING JEFFREY K
STABLER FRANK
SULLIVAN-SHAKLOVITZ COLLEEN
SUNDE MARTIN
TAYLOR MITCHELL S
THE TRAVEL AGENCY IN THE PARK
THORN TERENCE H
TILNEY ELIZABETH A
TOTAL
UMANOFF ADAM S
URQUHART JOHN A
WAKEHAM JOHN
WALLS JR ROBERT H
WALTERS GARETH W
WASAFF GEORGE
WESTFAHL RICHARD K
WHALEY DAVID A
WHALLEY LAWRENCE G
WHITE JR THOMAS E
WINOKUR JR. HERBERT S
WODRASKA JOHN
WROBEL BRUCE
YEAGER F SCOTT
YEAP SOON

In [30]:
(enron['total_payments'] == 'NaN').filter?

In [45]:
tp = enron['total_payments']
len(tp[tp == 'NaN']) / float(len(tp))

0.14383561643835616

In [50]:
len(enron[enron['total_payments'] == 'NaN'])

21

In [51]:
31.0 / 156

0.1987179487179487

In [53]:
len(enron[enron['poi']])

18